.group-member {
  .member-message {
    height: 300px;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
    .pic {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 250px;
      height: 170px;
      margin-top: 28px;
      img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }
      img:hover {
        opacity: 0.8;
        transform: scale(1.1);
        transition: all 0.5s;
        box-shadow: 1px 3px 13px rgb(183, 184, 186);
      }
    }
    .team,
    .name {
      text-align: center;
      margin: 8px auto;
    }
    .name {
      font-size: 22px;
      font-weight: bold;
    }
    .team {
      font-size: 17px;
      text-align: center;
      color: rgb(183, 184, 186);
    }
  }
  .member-message:hover {
    box-shadow: 1px 3px 13px rgb(183, 184, 186);
  }
}
